* {
    color: #ffffff;  
 }
 body {
     background-color: #ac9090;
     font-size: 18px;
     
 
 }
 
 header {
     width: 100%;
     max-width: 960px;
     height: 100px;
     margin: 0 auto;
     clear: both;
 
 }
 
 h1 {
     text-align: center;
     color: #df6969;
     font-size: 50px;
     font-weight: bold;
 }
 
 main {
     width: 100%;
     max-width: 960px;
     height: auto;
     margin: 0 auto;
 }

.crystal-image {
    width: 200px;
    height: 200px;
}


